* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+5,7db9e8+99&1+0,1+21,1+21,0.7+98,0+100 */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#1e5799), color-stop(5%, #1e5799), color-stop(21%, #2e68a6), color-stop(98%, rgba(124, 184, 231, 0.7)), color-stop(99%, rgba(125, 185, 232, 0.35)), to(rgba(125, 185, 232, 0)));
  background: linear-gradient(to bottom, #1e5799 0%, #1e5799 5%, #2e68a6 21%, rgba(124, 184, 231, 0.7) 98%, rgba(125, 185, 232, 0.35) 99%, rgba(125, 185, 232, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#007db9e8',GradientType=0 );
  /* IE6-9 */
  /*shaperdivider/Fondo del body*/
}

body .custom-shape-divider-top-1633634660 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

body .custom-shape-divider-top-1633634660 svg {
  position: relative;
  display: block;
  width: calc(173% + 1.3px);
  height: 82px;
}

body .custom-shape-divider-top-1633634660 .shape-fill {
  fill: #ffffff;
}

/*Menu*/
.aparecer {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}

@-webkit-keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.menu-index {
  background-color: none;
  list-style-type: none;
  /*saca el detalle de los puntitos de la lista*/
  padding: 0;
  /*para eliminar el espacio entre la lista y el borde*/
  width: 60%;
  /*le da un ancho al menu para que quede un aire*/
  max-width: 1000px;
  /*le da un ancho maximo*/
  margin: 30px auto;
  /*sirve para centrar el menu*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.menu-index li a {
  /*lista dentro de tratamientos*/
  color: #acacac;
  text-decoration: none;
  /*saca el subrayado*/
  display: inline-block;
  padding: 10px;
}

.menu-index li a:hover {
  color: white;
}

/*.menu-index > li {
      /*el ">" indica que solo tendran las propiedades los primeros hijos <li>
      display: inline-block;
      text-align: center;
      font-size: 16px;
      padding: 20px;
      z-index: 100;
    }*/
.menu-index .menu-index li a:hover {
  color: white;
}

ul {
  list-style: none;
  font-size: 0;
}

/*li {
          display: inline-block;
          width: 25%;
          position: relative;
          font-size: 14px;
        }*/
ul ul {
  position: absolute;
  display: none;
}

ul ul li {
  display: block;
}

li:hover {
  color: white;
  font-weight: bold;
}

a {
  text-decoration: none;
}

/*
        a:hover {
          color: white;
        }
        */
ul li:hover ul {
  display: block;
  background-color: #3b3a3a;
}

/*Footer*/
footer {
  text-align: center;
  border-top: 1px black solid;
  padding: 15px;
  height: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: radial-gradient(ellipse, #c4c4c4, #e9e8e6);
}

footer .footer-social a {
  margin-bottom: 15px;
  display: block;
}

footer .footer-social .fab {
  font-size: 35px;
}

/*Botones Index*/
.botones-index {
  text-align: center;
}

.botones-index .boton-index__turnos {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 150px;
  padding: 10px;
  margin: 20px;
  border-radius: 20%;
}

.botones-index .boton-index__turnos:hover {
  background: #e24229c9;
  color: white;
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.botones-index .boton-index__whatsapp {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 150px;
  padding: 10px;
  margin: 20px;
  border-radius: 20%;
}

.botones-index .boton-index__whatsapp:hover {
  background: #00bfa5;
  color: white;
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.botones-index .botones-index__formflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: black;
}

/*Nosotros*/
.main-nosotros .main-nosotros__texto {
  padding: 10px;
  margin: 10px;
  line-height: 18px;
  color: white;
  border-top: 1px black solid;
  border-bottom: 1px black solid;
}

.main-nosotros .main-nosotros__equipo {
  margin: 20px;
  text-align: center;
}

.main-nosotros .main-nosotros__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 30%;
}

.main-nosotros .main-nosotros__flex .carousel-text {
  background: rgba(0, 0, 0, 0.185);
}

/*Tipografia*/
.comfortaa {
  font-family: comfortaa, cursive;
}

/*Nombre empresa*/
.oPacheco {
  width: 30%;
  color: white;
  letter-spacing: 2px;
  font-size: 1.2rem;
  /*1rem = 16px*/
}

/*Index*/
#sIntegral {
  margin: 100px auto;
  padding: 10px;
  width: 50%;
  color: white;
  border: solid;
  text-align: center;
  font-size: 30px;
  position: relative;
}

.textoServicio1, .textoServicio2, .textoServicio3 {
  color: white;
  padding: 10px;
  margin: 20px;
  line-height: 20px;
}

.textoServicio2 {
  font-size: 20px;
  width: 90%;
}

.textoServicio3 {
  font-size: 22px;
  width: 90%;
}

/*Responsive index*/
@media only screen and (max-width: 768px) {
  /*de 0px a 768px se dan estas propiedades*/
  #sIntegral {
    color: #d4d10d;
    font-size: 30px;
  }
  body {
    background-color: rgba(255, 0, 242, 0.836);
  }
  .botones {
    margin: 100px auto;
    padding: 10px;
    width: 50%;
    color: white;
    text-align: center;
    font-size: 15px;
  }
  footer {
    font-size: 70%;
  }
}

@media only screen and (min-width: 768px) {
  /*de 768px a infinito*/
  body {
    background-color: salmon;
  }
  #sIntegral {
    color: salmon;
    font-size: 35px;
  }
  footer {
    font-size: 80%;
  }
}

@media only screen and (min-width: 1024px) {
  /*de 1024px a infinito*/
  #sIntegral {
    font-size: 50px;
    color: #c0fffa;
  }
  footer {
    font-size: 100%;
  }
}

/*Tratamientos*/
.titulo-tratamientos {
  padding: 25px;
  margin: 15px;
}

/*Grids en tratamientos*/
.container-grid-tratamientos {
  width: 90%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 2fr;
      grid-template-rows: 1fr 2fr;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas: "header header header"
 "main imagenes imagenes";
}

.container-grid-tratamientos .header-grid-tratamientos {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: header;
}

.container-grid-tratamientos .main-grid-tratamientos {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
  font-size: 25px;
  /*Tratamientos*/
}

.container-grid-tratamientos .main-grid-tratamientos .main-grid-tratamientos__lista > li {
  /*trucaso para poner en lista los items*/
  display: block;
  list-style-type: circle;
  margin: 5px;
  padding: 5px;
  font-size: 18px;
}

.container-grid-tratamientos .imagenes-grid-tratamientos {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: imagenes;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-grid-tratamientos .imagenes-grid-tratamientos .imagenes-grid-tratamientos__img {
  border: 2px black solid;
  margin: 10px;
  opacity: 75%;
}

.container-grid-tratamientos .imagenes-grid-tratamientos .imagenes-grid-tratamientos__img:hover {
  border: 1px black solid;
  color: white;
  opacity: 100%;
}

/*Contacto*/
.main-contacto .main-contacto__texto {
  color: white;
  font-size: 18px;
  margin: 20px;
  padding: 5px;
}

/*Formulario*/
.formulario {
  background-color: #a5e3f7;
  padding: 20px;
  margin: 20px;
  width: 500px;
}
/*# sourceMappingURL=style.css.map */