@mixin botones($bg) {
  transition: all 0.5s ease;
  width: 150px;
  padding: 10px;
  margin: 20px;
  border-radius: 20%;
  &:hover {
    background: $bg;
    color: white;
    transform: scale(1.1, 1.1);
  }
}

/*Botones Index*/
.botones-index {
  text-align: center;
  .boton-index__turnos {
    @include botones(#e24229c9);
  }

  .boton-index__whatsapp {
    @include botones(#00bfa5);
  }

  .botones-index__formflex {
    display: flex;
    justify-content: flex-start;
    color: black;
  }
}
 